<table>
<tr><td>Stats</td><td>City</td><td>Desc</td><td>Temp</td><td>Date</td></tr>
- @cities.each do |key,val|
  <tr><td><img src="#{val.image.url}"></td><td>#{key}</td><td>#{val.condition.text}</td><td>#{val.condition.temp} #{val.units.temperature}</td><td>#{val.condition.date}</td></tr>
</table>