doctype html 
html 
  head 
    meta charset="utf-8"
    title Weather App 
    link rel="stylesheet" media="screen, projection" href="/styles.css"
    /[if lt IE 9] 
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
  body 
    h1 Cities:
    == yield
